* {
  border: 1px solid teal;
}   

body {
  background: blanchedalmond;
}

.container {
	display: flex;
  height: auto;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  
}

.container > div {
min-height: 33vh;
}

/*@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  main {
    max-width: 60%;
  }
  header, footer {
    width: 100%;
  }
}                                  


